{% extends 'base.html.twig' %}

{% block title %}Edit Bid{% endblock %}

{% block body %}
    <h1>Edit Bid</h1>

    {{ include('admin/bid/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_bid_index') }}">back to list</a>

    {{ include('admin/bid/_delete_form.html.twig') }}
{% endblock %}
