{% extends 'base.html.twig' %}

{% block title %}Index Page{% endblock %}
{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/stock-image.jpg" data-src="images/stock-image.jpg" alt="Second slide">
            </div>
        </div>
    </div>

    <h1>EB-Bid</h1>
    <p>
        We let you sell your used books, for more than they are worth!
    </p>
    <a href="{{ path("book_index") }}">Why not check out our stock</a>
{% endblock %}