{% extends 'base.html.twig' %}

{% block title %}Admin Panel!{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h2>Admin Panel</h2>
        </div>
        <div class="card-deck">
            <div class="card ml-4 mr-4 mb-4 mt-4">
                <a href="{{ url("admin_book_index") }}"><img class="card-img-top" src="images/book-icon.png" alt="Card image cap"></a>
                <div class="card-header">
                    <h5>Manage Books</h5>
                </div>
            </div>
            <div class="card ml-4 mr-4 mb-4 mt-4">
                <a href="{{ url("admin_user_index") }}"><img class="card-img-top" src="images/people-icon.png" alt="Card image cap"></a>
                <div class="card-header">
                    <h5>Manage Users</h5>
                </div>
            </div>
            <div class="card ml-4 mr-4 mb-4 mt-4">
                <a href="{{ url("admin_bid_index") }}"><img class="card-img-top" src="images/bid-icon.png" alt="Card image cap"></a>
                <div class="card-header">
                    <h5>Manage Bids</h5>
                </div>
            </div>
            <div class="card ml-4 mr-4 mb-4 mt-4">
                <a href="{{ url("admin_comment_index") }}"><img class="card-img-top" src="images/comment-icon.png" alt="Card image cap"></a>
                <div class="card-header">
                    <h5>Manage Comments</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
