{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Featured books</h5>
        </div>
        <div class="card-body">
            {% for batch in books|batch(3) %}
            <div class="card-deck">
                    {% for book in batch %}
                        {% include 'book/book-card.html.twig' %}
                    {% endfor %}
            </div>
            {% else %}
                No books found...
            {% endfor %}
        </div>
        <div class="card-footer">
            {% if is_granted('ROLE_USER') %}
                <form action="{{ path('book_new')}}">
                    <button type="submit" class="btn btn-success" value="New Book">+</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
