{{ form_start(bidform) }}
    <div class="form-inline">
    {{ form_row(bidform.Price, {'value': bids[0].price}) }}
    </div>
    <hr>
    <button class="btn btn-primary">{{ button_label|default('Bid') }}</button>
{{ form_end(bidform) }}
