{% block body %}
<div class="container">
    <div class="card h-100">
        <div class="card-header">
            <h4>Bid History</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>UserId</th>
                        <th>Price</th>
                        {% if is_granted('ROLE_USER')  %}
                            {% if app.user.id == book.user.id %}
                            <th>Action</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for bid in book.Bids %}
                    <tr>
                        <td><a href="{{ path('user_show',{'id':bid.user.id}) }}">{{ bid.user.username }}</td>
                        <td>€{{ bid.Price }}</td>
                        {% if is_granted('ROLE_USER')  %}
                        {% if app.user.id == book.user.id %}
                        <td>{{ include('book/bid/_delete_form.html.twig') }}</td>
                        {% endif %}
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
