{% block body %}
    <h1>Bids</h1>

    <table class="table">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for bid in bids %}
            <tr>
                <td><a href="{{ path('user_show',{'id':bid.UserId}) }}">{{ bid.UserId }}</td>
                <td>€{{ bid.Price }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
